<div >
    <mat-accordion >
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon">tab</mat-icon>
            <span [style.fontSize.px]="14"><strong>Bases de datos</strong></span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list-item  matTooltipPosition="right">
          <a class="menu_item" style="text-decoration: none" routerLink="projectHome">
            <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon">table_chart</mat-icon>
            <span [style.fontSize.px]="14">Dashboard </span>
          </a>
        </mat-list-item>

        <mat-list-item  matTooltipPosition="right"
         >
          <a class="menu_item" style="text-decoration: none" routerLink="projectHome/assignPersonal">
            <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon">people_outline</mat-icon>
            <span [style.fontSize.px]="14">Carga de personal</span>
          </a>
        </mat-list-item>

        <mat-list-item  matTooltipPosition="right"
        >
          <a class="menu_item" style="text-decoration: none" routerLink="projectHome/assignUpmChief">
            <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon">work</mat-icon>
            <span [style.fontSize.px]="14">Asignacion de UPM</span>
          </a>
        </mat-list-item>

        <mat-list-item  matTooltipPosition="right"
          >
          <a class="menu_item" style="text-decoration: none" routerLink="projectHome/cartografo">
            <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon">people_outline</mat-icon>
            <span [style.fontSize.px]="14">Cartografo</span>
          </a>
        </mat-list-item>

        <mat-list-item  matTooltipPosition="right"
          *ngxPermissionsOnly="['ver-equipo-campo']">
          <a class="menu_item" style="text-decoration: none" routerLink="projectHome/equipo-campo">
            <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon">my_location</mat-icon>
            <span [style.fontSize.px]="14">Equipo de Campo</span>
          </a>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
