<mat-sidenav-container class="sidenav-container" autosize="">
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
      <mat-list-item style="text-align: center; padding-top: 2em; height: 70px">
        <h4 style="padding-bottom: 20px">XSQL-IDE</h4>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-accordion>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon"
                >tab</mat-icon
              >
              <span [style.fontSize.px]="14"
                ><strong>Bases de datos</strong></span
              >
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion *ngFor="let item of arrayDB">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon"
                    >settings_system_daydream</mat-icon
                  >
                  <span [style.fontSize.px]="14"
                    ><strong> {{ item.base }}</strong></span
                  >
                </mat-panel-title></mat-expansion-panel-header
              >

              <mat-list-item *ngFor="let tab of item.tablas">
                <a class="menu_item" style="text-decoration: none">
                  <mat-icon [style.fontSize.px]="25" class="routeIcon menu-icon"
                    >table_chart</mat-icon
                  >
                  <span [style.fontSize.px]="14">{{ tab.nombre }} </span>
                </a>
              </mat-list-item>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: white">
    <mat-toolbar class="header_toolbar" color="primary" style="z-index: 99">
      <div class="options_header">
        <button mat-raised-button [matMenuTriggerFor]="menuarchivo">
          Archivo
        </button>
        <button mat-raised-button [matMenuTriggerFor]="menuAcciones">
          Herramientas
        </button>
      </div>
      <mat-menu #menuarchivo="matMenu">
        <button mat-menu-item (click)="newQuery()">
          <span [style.fontSize.px]="14"> Nuevo</span>
          
        </button>
        <button mat-menu-item [routerLink]="['auth/logout']">
          <span [style.fontSize.px]="14">Abrir</span>
         
        </button>
        <button mat-menu-item [routerLink]="['auth/logout']">
          <span [style.fontSize.px]="14">Guardar</span>
        
        </button>
        <button mat-menu-item [routerLink]="['auth/logout']">
          <span [style.fontSize.px]="14">Guardar como</span>
         
        </button>
        <button mat-menu-item [routerLink]="['auth/logout']">
          <span [style.fontSize.px]="14">Cerrar</span>
         
        </button>
        <button mat-menu-item [routerLink]="['auth/logout']">
          <span [style.fontSize.px]="14">Salir</span>
        </button>
      </mat-menu>
      <mat-menu #menuAcciones="matMenu">
        <button mat-menu-item [routerLink]="['auth/logout']">
          <span [style.fontSize.px]="14">Bases de datos</span>
        </button>
        <button mat-menu-item [routerLink]="['auth/logout']">
          <span [style.fontSize.px]="14">SQL</span>
        </button>
        <button mat-menu-item (click)="generateFile(group.selectedIndex)">
          <span [style.fontSize.px]="14">Exportar</span>
        </button>
        <button mat-menu-item [routerLink]="['auth/logout']">
          <span [style.fontSize.px]="14">Importar</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div style="width: 100%; height: auto">
      <mat-tab-group animationDuration="700ms" #group>
    
        <mat-tab *ngFor="let tab of  tabs" [label]="tab.label" >
          <app-editor #editors/>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
